html {
  width: 100%;
}

body {
  overflow-x: hidden !important;
}

body.show-spinner > main {
  overflow: hidden !important;
}

/* Hide everything under body tag */
body.show-spinner > *{
  opacity: 0;
}

/* Spinner */
body.show-spinner::after{
  content: " ";
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  border-top-color: rgba(0, 0, 0, 0.3);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  left: calc(50% - 15px);
  top: calc(50% - 15px);
  position: fixed;
  z-index: 1;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
/*custom css*/
.hid{display: none}
.hid+.select2{display: none}
body{padding-bottom:0;font-family: "ekachon"}
p{font-family: "ekachon"}
.navbar{padding-top: .2rem;padding-bottom: .3rem;height:70px;background: #002858;flex-wrap: nowrap}
.menu {    padding-top: 70px; height: calc(100% - 70px);}
.menu .main-menu,.menu .sub-menu{height: calc(100% - 70px);}
main{margin-top: 100px}
.navbar-logo .brand-logo{display: flex!important;flex-flow: row nowrap; align-items:center}
.navbar-logo [class*="brand-logo"] .line{display: inline-block;width: 1px; height:28px; background: #B5B5B5;margin: 5px 10px 0}
.navbar-logo [class*="brand-logo"] .line+img{margin-top:8px}
.navbar .search{max-width: 100%}
.navbar .navbar-right{height: 100px; margin: -1.2rem 0}
.navbar .navbar-right>*{padding: 0 10px;display: inline-flex;height: 100%;align-items: center}
.theme-colors{display: none}
#displayOptions .show > .btn-outline-dark.dropdown-toggle{background-color: #50AAE2;border-color: #50AAE2}
.dropdown-item.active, .dropdown-item:active{background-color: #0077c1;}
.text-gray{color: #c8c8c8}
.text-light {color: #BDBDBD !important}
.text-orange{color: #f37022}
.bg-gray,.btn-gray{background-color: #c8c8c8}
.btn-gray{background-color: #97a3b5;color: #fff}
.bg-gray2,.btn-gray2{background-color: #C1C1C1;color: #fff!important}
.bg-light{background-color: #f5f5f5 !important}
.menu .main-menu ul li{margin-bottom: 10px}
.menu .main-menu ul li a{color:#97a3b5;text-align: center;height: auto;padding:0 0 13px;line-height: 14px}
.menu .main-menu>.scroll>ul>li:first-child a{padding-top: 10px}
.menu .main-menu ul li i{color:#97a3b5;font-size: 24px}
.menu .main-menu ul li.active:after{ margin-top: -5px; height: 70px}
.menu .main-menu ul li.active:after,.btn-outline-primary:hover{background:#002858}
.menu .main-menu ul li.active a,.page-item.active .page-link,.btn-link{color: #002858}
.menu .sub-menu ul li a span{height: auto;color: #97A3B5;}
.menu .sub-menu ul li:after{content: "";background: #97A3B5;border-radius: 10px;position: absolute;width: 4px;height: 4px;top: 50%;transform: translateY(-50%);    left: -16px;}
.menu .sub-menu ul li.active a span,.menu .sub-menu ul li a:hover span{ color: #002858}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle,.btn-primary,.btn-primary:hover,.btn-outline-primary:hover{background:#002858;border-color: #002858}
.btn-blue:not(:disabled):not(.disabled).active, .btn-blue:not(:disabled):not(.disabled):active, .show > .btn-blue.dropdown-toggle,.btn-blue,.btn-blue:hover,.btn-outline-blue:hover{background:#50AAE2;border-color: #50AAE2}
.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show > .btn-success.dropdown-toggle,.btn-success,.btn-success:hover,.btn-outline-success:hover{ background: #27AE60;border-color:#27AE60}
.btn-warning:not(:disabled):not(.disabled).active, .btn-warning:not(:disabled):not(.disabled):active, .show > .btn-warning.dropdown-toggle,.btn-warning,.btn-warning:hover,.btn-outline-warning:hover{ background: #F37022;border-color:#F37022}
.bg-green, .btn-green {background: #8db935;color: #fff}
.btn-outline-primary{border-color: #002858;color: #002858}
.btn-outline-blue{border-color: #50AAE2;color: #50AAE2}
.btn-blue,.btn-blue:hover,.btn-outline-primary:hover,.btn-success:hover,.btn-outline-blue:hover{color: #fff}

.data-table [class*="btn-"]:hover .icon-img img{filter:none}
.btn-outline-warning {color: #F37022;    border-color: #F37022;}
.page-item.active .page-link{border-color:#002858}
.btn [class*="icon-img"]{display: inline-block;vertical-align: middle;margin-right: 5px}
.btn [class*="icon-img"] img{display: block;max-height: 20px}
[class*="btn-"]:hover .icon-img img{filter: brightness(0) invert(1);-webkit-filter: brightness(0) invert(1)}
[class*="icon-img"].f-white img{filter: brightness(0) invert(1);-webkit-filter: brightness(0) invert(1)}
[class*="btn-"][class*="-transparent"]:hover .icon-img img{filter: none;-webkit-filter: none}
.btn-link{/*color: #469d47!important*/}
.btn i{position: relative;top: -2px; font-size: 21px;font-style: normal; vertical-align: middle;line-height: normal}
.rounded-05{border-radius:.5em!important;-webkit-border-radius:.5em!important}
.rounded-1{border-radius: 1em!important;-webkit-border-radius: 1em!important}
.rounded-2{border-radius: 2em!important;-webkit-border-radius: 2em!important}
.rounded-5{border-radius: 5em!important;-webkit-border-radius: 5em!important}

[id="search-type"]{position: relative}
.navbar .dropdown-toggle{height: 32px;}
.navbar .search{height: 32px}
.navbar .search input{padding-top: 0;padding-bottom: 0; line-height:32px}
.navbar .search .search-icon{width: 32px; height: 32px; line-height:32px; top: 1px}
.navbar .user .name small{color: #b7b4b4;margin-top: -1px}
.link-adv-search a{display: block;white-space: nowrap; color: #53aafc}
.breadcrumb-item + .breadcrumb-item::before {content: ">>";}
.breadcrumb-item>a{display: block;position: relative;color: #002858;border-bottom: 1px solid #0077C1}
.breadcrumb-item.active{color: #828282}
.cv-select-cr .select2-container--bootstrap .select2-selection.form-control{background: #f8f9fa;border-radius:2em!important}
.cv-select-cr .select2-container--bootstrap.select2-container--open .select2-selection{border-color: #d7d7d7!important}
.cv-select-cr .select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field{background: none}
.form-group label{font-weight: 700}
/*slidebar left*/
.main-menu .list-unstyled>li>a span{color: #97a3b5}
.main-menu [class*="icn-nav"]{display: block;width: 40px; height: 32px;background: url("../di/nav-home.png") 50% 50% no-repeat;background-size: 30px auto;}
.main-menu [class*="icn-nav1"]{background-image: url("../di/nav-manage.png")}
.main-menu [class*="icn-nav2"]{background-image: url("../di/nav-report.png")}
.main-menu [class*="icn-nav3"]{background-image: url("../di/nav-user.png")}
.main-menu [class*="icn-nav4"]{background-image: url("../di/nav-log.png")}
.menu .main-menu ul li.active a i, .page-item.active .page-link i{ filter:saturate(50) hue-rotate(-320deg) brightness(0.4);-webkit-filter:saturate(50) hue-rotate(-320deg) brightness(0.4); }
/*search bar*/
/*.srh-bar .input-group > .form-control,.srh-bar .input-group-text,.srh-bar .select2-container .select2-selection--single{border: none}
.srh-bar .input-group > .form-control,.srh-bar .input-group>.input-group-text,.srh-bar .select2-container .select2-selection--single{border-bottom: 1px solid #d8d8d8}
.srh-bar .select2-container .select2-selection--single .select2-selection__rendered{height: 32px}*/
.main-srh .input-group > .form-control{ border: none;border-bottom: 1px solid #d8d8d8;font-weight: 300;color: #212121}
.main-srh .input-group > .form-control::-webkit-input-placeholder{color: #B8B8B8;font-style: italic;}
.main-srh .input-group > .form-control::-ms-input-placeholder{color: #B8B8B8;font-style: italic;}
.main-srh .input-group > .form-control::placeholder{color: #B8B8B8;font-style: italic;}
.srh-bar .input-group.date > .form-control:last-child{border-left: none}
.srh-bar .input-group.date .input-group-addon:first-child{border-right: none;background: #fff}
.srh-bar .input-group.date .input-group-addon i{font-size: 16px}
.srh-bar .form-control::placeholder {color:#BDBDBD}
.main-srh .input-group{position: relative}
.main-srh .input-group .input-group-append{right: 0; top: 50%; transform: translateY(-50%)}
.main-srh .input-group .input-group-append .btn{padding-left:10px; padding-right:10px}
[id="filterMenuDropdown"]{width: 360px; max-width: 94vw;z-index: 199;top: 100%;right: 0}
/*table sort*/
table.dataTable thead .sorting::before, table.dataTable thead .sorting::after, table.dataTable thead .sorting_asc::before, table.dataTable thead .sorting_asc::after, table.dataTable thead .sorting_desc::before, table.dataTable thead .sorting_desc::after, table.dataTable thead .sorting_asc_disabled::before, table.dataTable thead .sorting_asc_disabled::after, table.dataTable thead .sorting_desc_disabled::before, table.dataTable thead .sorting_desc_disabled::after{content: "";display: block; border-left: 5px solid transparent;border-right: 5px solid transparent}
table.dataTable thead .sorting::after, table.dataTable thead .sorting_asc::after, table.dataTable thead .sorting_desc::after, table.dataTable thead .sorting_asc_disabled::after, table.dataTable thead .sorting_desc_disabled::after{border-top: 5px solid #54565a;bottom: 1em}
table.dataTable thead .sorting::before, table.dataTable thead .sorting_asc::before, table.dataTable thead .sorting_desc::before, table.dataTable thead .sorting_asc_disabled::before, table.dataTable thead .sorting_desc_disabled::before{border-bottom: 5px solid #54565a;right: 1.5em;bottom: auto;top: 1em;}
table.dataTable thead .sort-none:before,table.dataTable thead .sort-none:after{display: none}
.dataTables_scrollBody th:before{display: none!important}
table.skin-tmb{border-collapse:collapse!important}
table.skin-tmb *>tr>*:first-child{padding-left: 1.75rem}
table.skin-tmb *>tr>*:last-child{padding-right: 1.75rem}
table.skin-tmb *>tr>[class*="bg-gray"]{background-color: #97A3B5!important}
table.skin-tmb thead>tr:first-child>th{padding-top: 1.75rem;padding-bottom:1.75rem;background: #002858}
table.skin-tmb.top-rounded-0 thead>tr:first-child>th{padding-top: .75rem;padding-bottom:.75rem;}
table.skin-tmb thead>tr:first-child>th:first-child{border-top-left-radius:.75rem }
table.skin-tmb thead>tr:first-child>th:last-child{border-top-right-radius:.75rem }
table.skin-tmb.top-rounded-0 thead>tr:first-child>th:first-child{border-top-left-radius:0 }
table.skin-tmb.top-rounded-0 thead>tr:first-child>th:last-child{border-top-right-radius:0 }
table.skin-tmb tbody>tr:nth-child(2n){background: #F8F8F8}
table.skin-tmb thead .sorting::after, table.skin-tmb thead .sorting_asc::after, table.skin-tmb thead .sorting_desc::after, table.skin-tmb thead .sorting_asc_disabled::after, table.skin-tmb thead .sorting_desc_disabled::after{bottom: 50%;transform: translateY(125%);border-top-color: #fff}
table.skin-tmb thead .sorting::before, table.skin-tmb thead .sorting_asc::before, table.skin-tmb thead .sorting_desc::before, table.skin-tmb thead .sorting_asc_disabled::before, table.skin-tmb thead .sorting_desc_disabled::before{top: 50%;transform: translateY(-125%);border-bottom-color: #fff}
table.skin-tmb .btn{text-align: center}
table.skin-tmb .btn .icon-img{margin-right: 0;vertical-align: baseline}
table.skin-tmb .btn.disabled .icon-img img,table.skin-tmb .btn.disabled{filter: grayscale(1);opacity: .5}
table.skin-tmb .btn.invisibled .icon-img img,table.skin-tmb .btn.invisibled{opacity:0;visibility: hidden;pointer-events: none}
table.skin-tmb#scrollx tr>td,table.skin-tmb#scrollx thead tr>th{white-space: nowrap}
.table-compare table.skin-tmb *>tr>*:first-child{padding-left:7px}
.table-compare table.skin-tmb *>tr>*:last-child{padding-right:7px}
.table-compare table.skin-tmb thead > tr > th[class*="sorting"]{padding-right:5px!important;font-weight: normal!important;font-size: 11px}
/*.dataTables_scrollBody{max-height: inherit!important}*/
.wrap-role-user .table tr:not(.bg-light) td{border: none; padding-top: 5px; padding-bottom: 0!important}
/*paging*/
.dataTables_paginate{display: none}
.pagination-sm .page-item .page-link,.page-item .page-link.prev,.page-item .page-link.next,.page-item .page-link.first, .page-item .page-link.last{color:#54565a}
.page-item .page-link.next,.page-item .page-link.prev,.page-item .page-link.first, .page-item .page-link.last,.page-item .page-link.first:hover, .page-item .page-link.last:hover{background: none;border: none}
.dataTables_wrapper .paginate_button.previous{margin-right: 0}
.dataTables_wrapper .paginate_button.next{margin-left: 0}
.page-item .page-link.first:hover, .page-item .page-link.last:hover{color: #469d47}
.display-page button,.display-page .btn-outline-dark:not(:disabled):not(.disabled):active,.display-page.show > .btn-outline-dark.dropdown-toggle,.display-page .btn-outline-dark:hover{margin-left: 10px;border: none;background: none; padding-left: 0; padding-right: 0; color: #6D6D6D}
.pagination .page-item{margin-bottom: 0;padding-left: 0;padding-right: 0}
.ctrl-page>span{color: rgba(0, 0, 0, 0.54);}
/*ERROR,Login*/
.logo-single{position: relative;width: 370px;max-width: 100%; background-image:url("../di/logo-tmb.png"), url("../di/logo-thanachart.png");background-size:26% auto, 65% auto; background-position:0 100%, 100% 60%; height: 52px;margin-bottom: 40px}
.logo-single:before{content: "";display: block;position: absolute;top:8px;bottom: 8px;left: 30%;border-right: 1px solid #B5B5B5}
.rounded .card.auth-card{background:none}
.rounded .card.auth-card,.rounded .auth-card .image-side{border-radius: 0;-webkit-border-radius: 0}
.fixed-background{background:#f8f8f8}
.fixed-background.image{background:url("../di/bg-login.jpg") #3a3a3a;background-size: cover;}
.auth-card .image-side{background:rgba(1,106,179,.5);width: 50%;}
.auth-card .form-side{width: 100%;background:#fff}
.form-side .btn{border-radius: 1em}
/*detail*/
/*.card{box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1)}*/
.sub-header,.text-medium{font-size: 16px}
.user-avatar{width: 200px;max-width: 100%}
.nav-tabs.separator-tabs .nav-link{font-size: 16px; text-transform: inherit}
.nav-tabs.separator-tabs .nav-link.active{color: #0077c1}
.nav-tabs.separator-tabs .nav-link.active:before{background:#0077c1}
.head-bar .icon-button{border: none}
.head-bar .icon-button:hover{background: #fff;color: #54565a}
.head-bar .icon-button.rotate{transform: rotate(180deg)}
.head-bar .icon-button .with-rotate-icon:before{display: block;width: 0;height: 0; margin: 0 auto;content: "";border-top: 8px solid #54565a;border-left:8px solid transparent;border-right:8px solid transparent}
.head-tab-title{position: relative}
.head-tab-title .fix-r{position: absolute; right: 0; bottom: 5px;}
.card[class*="product"] .bg-light .ctrl-btn .btn, .modal .bg-light .ctrl-btn .btn{min-width: 80px}
.table.nowrap thead th{white-space: nowrap}
.modal .table.nowrap thead th{border: none}
/**/
.btn.min-w{min-width: 100px}
.main-consent-setting .data-table .btn,.btn-min{ min-width: 100px; padding: 5px 10px}
.group-sub{position: relative}
.group-sub .btn-del{display: none;position: absolute; top: 50%; left: 100%; transform: translateY(-50%);-webkit-transform: translateY(-50%);color: #ff1a1a;text-decoration:underline}
.group-sub.added .btn-del{display: block}
/*add consent master*/
.select2-container--default .select2-selection--single{border-radius: 0.5em;-webkit-border-radius: 0.5em;border-color: #d7d7d7}
.select2-container .select2-selection--single{height: auto}
.select2-container--bootstrap .select2-selection.form-control{padding: 0}
.select2-container--bootstrap .select2-selection--single{line-height: 24px}
.select2-container .select2-selection--single .select2-selection__rendered{height: calc(2em + .5rem);padding: 0.2rem .75em;color: #3a3a3a}
.select2-container--default .select2-selection--single .select2-selection__arrow{top: 50%;transform: translateY(-50%);-webkit-transform: translateY(-50%)}
.border-dash{border: 2px dashed #E0E0E0;padding: 10px;border-radius: .5em;-webkit-border-radius: .5em}
.border-dash .dropzone{position: relative;border:none!important; min-height: 150px!important; border-radius: .5em;-webkit-border-radius: .5em;}
.dropzone.dz-clickable .dz-message{position: absolute;top: 50%!important;left: 50%; transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%)}
.dropzone.dz-clickable .dz-message>span{display: block; top: 0!important; transform: none; width: 180px; height: 130px; text-indent: -9999px;background: url("../di/ic-dropfile.png") 50% 50% no-repeat;background-size: auto 100%}
.wrap-drop{margin-bottom: 20px}
.wrap-drop ~ p{position: relative;margin-bottom: 5px!important;padding-bottom: 4px}
.wrap-drop ~ p:after{content: "";display: block;position: absolute;bottom: -4px;left: 0;right: 0; height: 4px; background: #27AE60;border-radius: 5em}
.input-group.date .input-group-addon:first-child,.input-group.date>.form-control:first-child{border-top-left-radius: .5em;border-bottom-left-radius: .5em}
.input-group.date .input-group-addon:last-child,.input-group.date>.form-control:last-child{border-top-right-radius: .5em;border-bottom-right-radius: .5em}
/*sendmail*/
.btn-group:hover .check-button, .check-button:hover,.check-button:active{background-color: #F37022}
.btn-group:hover .check-button+.btn,.check-button:active+.btn,.check-button+.btn:hover,.btn-group:hover .btn+.btn{background-color: #EC600D}
.custom-checkbox .custom-control-label::before,.btn .custom-checkbox .custom-control-label::before,.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before{border-color: #F37022!important}
.btn-group:hover .check-button .custom-control-label::before{border-color: #fff!important}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before,.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before{    background-color: #F37022 !important;}
.btn .custom-checkbox .custom-control-label::before,.btn .custom-checkbox .custom-control-label::after{top: 50%;transform: translateY(-50%);-webkit-transform: translateY(-50%)}
.custom-radio .custom-control-input:checked ~ .custom-control-label::before{}
.btn.check-button{padding-left: 38px!important}
.btn.check-button+.btn{padding-left: 5px;padding-right: 5px}
.check-button+.btn.dropdown-toggle:after{border-top-color: #242424}
.btn-group:hover .check-button+.btn.dropdown-toggle:after{border-top-color: #fff}
/*management*/
.sign-upload .preview  figure{position: relative;border: 1px solid #d8d8d8}
.sign-upload .preview figure:before{content: "";display: block;padding: 100% 0 0}
.sign-upload .preview figure .img-thumbnail{position: absolute;top: 50%;left: 50%;max-width: 95%; transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%)}
/*Reconcile*/
.main-result .bg-danger {
    background-color: #EB5757 !important;
}
.main-result .bg-success {
    background-color: #27AE60 !important;
}
.main-result .text-danger{color:#EB5757!important}
.main-result .text-success{color:#219653!important}
.reconcile-srh .bootstrap-tagsinput{min-height: 39px;border-radius: .5rem;}
.reconcile-srh .bootstrap-tagsinput .tag{background: #fff;border-radius: .3rem; border: 1px solid #d7d7d7;color: #3A3A3A}
.reconcile-srh .bootstrap-tagsinput .tag [data-role="remove"]:after{color: #C4C4C4}
.main-result .chd-group.row{margin-left: -.5rem;margin-right: -.5rem}
.main-result .chd-group>li{padding-left: .5rem;padding-right: .5rem}
.main-result .chd-group>li .row .label{margin-bottom: 5px}
.btn-pre-send2rd.disabled{ background-color: #c1c1c1!important;border-color: #c1c1c1}
/*keyin*/
.box{position: relative}
.box .h-bar{color: #fff; background: #002858;border-radius: .8em .8em 0 0;padding:10px 15px 8px;font-weight: 200;margin-bottom: 0}
.box .box-body{ padding-top: 15px}
.box .form-group label{font-weight: 200}
.box .form-group label .text-danger{ margin-left: 3px}
.box .form-control{height: 36px}
.box textarea.form-control{height: auto}
.box .form-control::-webkit-input-placeholder{color: #BDBDBD}
.box .form-control::-ms-input-placeholder{color: #BDBDBD}
.box .form-control::placeholder{color: #BDBDBD}
.select2-container--default .select2-selection--single .select2-selection__placeholder{color: #BDBDBD;font-weight: 400}
.box .border-bottom{border-bottom-color: #97A3B5!important}
.group-action{position: relative;width: 100%; }
.group-action>[class*="g-action"]:before{content: "";display: block;position: absolute;top: 0;left: 15px;right: 15px; border-top: 1px solid #97A3B5}
.group-action>[class*="g-action"]{position: relative;width: 100%;display:none;padding: 20px 0;margin-top: 10px;}
[id*="t-contract2"],[id*="t-contractP2"],[id*="contractParty"],[class*="contractParty"]{display: none}
/*.group-action>[class*="g-action1"]{display: block!important}*/
/*report*/
/*.bg-green,.btn-green{background: #469d47;color: #fff}*/
.btn-export{border-radius: .3em;-webkit-border-radius: .3em;padding:5px 10px; line-height: 26px; color: #fff!important;font-weight: 400}
.btn-export>i{font-size: 24px;display: inline-block;vertical-align: sub}
[id="displayOptions"] .input-daterange .col .form-control{padding: 4px 0}
[id="displayOptions"] .input-daterange .col .form-control,#displayOptions button.bg-white{border-color:#b8b8b8 }
#displayOptions button.btn-primary{border:none;height: 26px;}
/*dashboard*/
.dashboard-numbers .bg-primary{background-color: #53aafc!important}
.dashboard-numbers .bg-success{background-color: #2ed47a!important}
.dashboard-numbers .bg-gray{background-color: #b7b4b4!important}
.dashboard-numbers .bg-danger{background-color: #f7685b!important}
.icon-cards-row{margin: 0}
.icon-cards-row .lead,.icon-cards-row .card-text{color: #fff;font-size: 150%}
.icon-cards-row .lead{display: block;font-size: 300%;margin-top: .5em}
.list-total>li>p{font-size: 18px; color: #97a3b5}
/*.list-total>li>.text-success{font-size: 220%;color: #0077c1!important}*/
@media (min-width:1200px){
.box{ width: 800px; margin-left: auto; margin-right: auto}
}
@media (min-width:1025px){
#displayOptions > .d-flex > *{margin-bottom: 0!important}
#displayOptions > .d-flex > * > .d-block{margin-top: -3px;margin-bottom: -4px !important;position: relative;z-index: 9;}
}
@media (min-width:1024px){
.navbar .search{width: 320px;}
}
@media (max-width:1023px){
.menu-mobile .navbar{flex-flow: row nowrap}
.navbar .navbar-right > *{padding: 0;border: none}
.navbar-right .user .mr-2{margin-right: 0!important}
.navbar .navbar-right >* #company{margin: 0!important}
.srh-bar,#displayOptions>.d-flex{flex-wrap: wrap!important;flex-direction: row}
.srh-bar>.card{margin-right: 0!important;padding: 0!important;flex-basis: 100%}
.srh-bar>.top-right-button-container{width: 100%; margin-top: 10px}
.srh-bar>.top-right-button-container .top-right-button{width: 100%;padding-top: 5px; padding-bottom: 5px}
#displayOptions button{height: auto!important;width: 100%;margin-top: 5px;padding-top: 5px; padding-bottom: 5px}
#displayOptions>.d-flex>*{flex-basis: 33.33%;margin: 0!important;height: auto!important;padding: 0 5px}
}
@media (max-width:767px){
#displayOptions>.d-flex{padding: 10px}
#displayOptions>.d-flex>*{width: 100%;flex-basis: 100%; padding: 0; margin-right: 0!important;height: auto!important}
.navbar .menu-button-mobile svg{height: 20px;fill: #fff}
}
@media (max-width:480px){
.row-dl-upload{ justify-content: center!important}
.row-dl-upload p{padding: 0}
.row-dl-upload p img{height: 22px}
.row-dl-upload p span{ font-size: 13px}
.main-srh{margin-bottom: 10px!important}
.main-srh+.d-flex,.main-srh+.d-flex>.btn{display: block;width: 100%}
.recon-panel .chd-group li:not(:last-child){margin-bottom: 1rem}
}
@media (max-width:420px){
.navbar-logo .brand-logo{display: none!important}
.navbar-logo .brand-logo-mobile{display: flex!important;flex-flow: row nowrap;align-items: center;}
.navbar-logo [class*="brand-logo"] .line{height: 18px}
.navbar-logo [class*="brand-logo"] .line+img{margin-top:2px}
}