<!-- Modal -->
<div class="modal fade" id="sendModalconfirm" tabindex="-1" role="dialog"	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header pb-0 border-0">

				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body p-0 text-center">
			   <i class="icon-img"><img src="di/ic-sendmail.png" height="50"></i>
			   <h5 class="text-black-50 mt-3">ต้องการส่งอีเมลถึง</h5>
				<p>wunchaichai@gmail.com</p>
			</div>
			<div class="modal-footer pt-2 d-flex justify-content-center border-0">
				<button type="button" class="btn btn-md btn-outline-primary rounded-05 col-3" data-dismiss="modal">ยกเลิก</button>
				<button type="button" class="btn btn-md btn-primary rounded-05 col-3" data-dismiss="modal" data-toggle="modal" data-target="#sendModalsuccess">ยืนยัน</button>
			</div>
		</div>
	</div>
</div>

<!--<div class="modal fade" id="PromptpayModalconfirm" tabindex="-1" role="dialog"	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header pb-0 border-0">

				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body p-0 text-center">
			   <i class="icon-img"><img src="di/ic-promppay.png" height="150"></i>
			   <h5 class="text-black mt-0">ยืนยันการชำระเงินผ่านระบบ พร้อมเพย์</h5>
			</div>
			<div class="modal-footer pt-3 d-flex justify-content-center border-0">
				<button type="button" class="btn btn-md btn-outline-primary rounded-05 col-3" data-dismiss="modal">ยกเลิก</button>
				<button type="button" class="btn btn-md btn-primary rounded-05 col-3" data-dismiss="modal" data-toggle="modal" data-target="#payModalsuccess">ยืนยัน</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="RetryPayModalconfirm" tabindex="-1" role="dialog"	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header pb-0 border-0">

				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body p-0 text-center">
			   <i class="icon-img"><img src="di/ic-retry.png" height="50"></i>
			   <h5 class="text-black mt-4">ต้องการส่งชำระเงินอีกครั้ง?</h5>
			</div>
			<div class="modal-footer pt-3 d-flex justify-content-center border-0">
				<button type="button" class="btn btn-md btn-outline-primary rounded-05 col-3" data-dismiss="modal">ยกเลิก</button>
				<button type="button" class="btn btn-md btn-primary rounded-05 col-3" data-dismiss="modal" data-toggle="modal" data-target="#payModalsuccess">ยืนยัน</button>
			</div>
		</div>
	</div>
</div>-->

<div class="modal fade" id="sendModalsuccess" tabindex="-1" role="dialog"	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header pb-0 border-0">

				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body pt-0 pb-5 text-center">
			   <i class="icon-img"><img src="di/ic-success.png" height="100"></i>
			   <h5 class="text-dark mt-3">ส่งอีเมลเรียบร้อยแล้ว</h5>
			</div>

		</div>
	</div>
</div>

<div class="modal fade" id="syncModalsuccess" tabindex="-1" role="dialog"	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header pb-0 border-0">

				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body pt-0 pb-3 text-center">
			   <i class="icon-img"><img src="di/ic-success.png" height="100"></i>
			   <h5 class="text-dark mt-3">Sync Certificate Complete</h5>
			</div>
			<div class="modal-footer pt-3 d-flex justify-content-center border-0">
				<button type="button" class="btn btn-md btn-outline-dark rounded-05 col-3 mr-4" data-dismiss="modal">Close</button>
				
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="addModalsuccess" tabindex="-1" role="dialog"	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header pb-0 border-0">

				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body pt-0 pb-3 text-center">
			   <i class="icon-img"><img src="di/ic-success.png" height="100"></i>
			   <h5 class="text-dark mt-3">Add Signature Complete</h5>
			</div>
			<div class="modal-footer pt-3 d-flex justify-content-center border-0">
				<button type="button" class="btn btn-md btn-outline-dark rounded-05 col-3 mr-4" data-dismiss="modal">Close</button>
				
			</div>
		</div>
	</div>
</div>

<!--<div class="modal fade" id="payModalsuccess" tabindex="-1" role="dialog"	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header pb-0 border-0">

				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body pt-0 pb-5 text-center">
			   <i class="icon-img"><img src="di/ic-success.png" height="100"></i>
			   <h5 class="text-dark mt-3">ดำเนินการชำระเงินเรียบร้อยแล้ว</h5>
			</div>

		</div>
	</div>
</div>-->

<div class="modal fade" id="Modalsuccess" tabindex="-1" role="dialog"	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header pb-0 border-0">

				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body pt-0 pb-5 text-center">
			   <i class="icon-img"><img src="di/ic-success.png" height="100"></i>
			   <h5 class="text-dark mt-3">Success</h5>
			</div>
			<div class="modal-footer pt-3 d-flex justify-content-center border-0">
				<button type="button" class="btn btn-md btn-outline-dark rounded-05 col-3 mr-4" data-dismiss="modal">Close</button>
				
			</div>

		</div>
	</div>
</div>


<div class="modal fade" id="prepareModal" tabindex="-1" role="dialog"	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header pb-0 border-0">

				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body pt-0 pb-0 text-left">
			   <i class="icon-img d-block text-center"><img src="di/ic-prepare-popup.jpg" height="50"></i>
			   <p class="text-black mt-4">Please select GL Date &amp; GL account to deduct reconciliation record before send to RD</p>
			   <div class="row mt-4">
				   <div class="col form-group">
					 <label>GL Date</label>
					 <div class="input-group date">
						<span class="input-group-text input-group-append input-group-addon">
							<i class="simple-icon-calendar"></i>
						</span>
						<input type="text" class="input-sm form-control" name="start" placeholder="Start date" value="08/06/2020" />
					</div>
				   </div>
				   <div class="col form-group">
					 <label>GL Account</label>
					 <select class="form-control select2-normal" data-width="100%" data-placeholder="Select GL Account">
						<option></option>
						<option selected>29962407</option>
						<option>option 2</option>
					</select>
				  </div>
			  </div>
			  
			  <ul class="list-inline list-pop-prepare mt-3">
			  	<li class="d-flex justify-content-between mb-2">
					<h4 class="m-0 font-weight-bold font-large">Begining Balance</h4>
					<div class="h5 font-weight-bold font-large">8,000</div>
				</li>
				<li class="d-flex justify-content-between mb-2">
					<h4 class="m-0 font-weight-bold font-large">Adjust</h4>
					<div class="h5 font-weight-bold font-large">1,000</div>
				</li>
				<li class="d-flex justify-content-between mb-2">
					<h4 class="m-0 font-weight-bold font-large">Accumulate</h4>
					<div class="h5 font-weight-bold font-large">0.00</div>
				</li>
				<li class="d-flex justify-content-between mb-2">
					<h4 class="m-0 font-weight-bold font-large">Ending Balance</h4>
					<div class="h5 font-weight-bold font-large">7,000</div>
				</li>
			  </ul>
			   
			</div>
			<div class="modal-footer pt-3 d-flex justify-content-center border-0">
				<button type="button" class="btn btn-md btn-outline-dark rounded-05 col-3 mr-4" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-md btn-danger rounded-05 col-3 ml-4" data-dismiss="modal" data-toggle="modal" data-target="#payModalsuccess">Confirm</button>
			</div>
		</div>
	</div>
</div>
<!-- /Modal -->