 <div class="menu">
        <div class="main-menu">
            <div class="scroll">
                <ul class="list-unstyled">
                    <li>
                        <a href="#sub-manage">
                            <i class="icn-nav1"></i> Management
                        </a>
                    </li>
					<li>
                        <a href="#sub-report">
                            <i class="icn-nav2"></i> Report
                        </a>
                    </li>
					<li>
                        <a href="user-role.php">
                            <i class="icn-nav3"></i> User and Role
                        </a>
                    </li>
					<li>
                        <a href="#sub-log">
                            <i class="icn-nav4"></i> Activity Log
                        </a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="sub-menu">
            <div class="scroll">

				<ul class="list-unstyled" data-link="sub-manage">
                    <li>
                        <a href="manage-cert.php">
                            <span class="d-inline-block">Certificate Management</span>
                        </a>
                    </li>
					<li>
                        <a href="manage-app.php">
                            <span class="d-inline-block">Application Management</span>
                        </a>
                    </li>
					<li>
                        <a href="manage-token.php">
                            <span class="d-inline-block">Token Management</span>
                        </a>
                    </li>
					<li>
                        <a href="manage-signature.php">
                            <span class="d-inline-block">Signature Management</span>
                        </a>
                    </li>
					<li>
                        <a href="manage-schedule.php">
                            <span class="d-inline-block">Schedule Management</span>
                        </a>
                    </li>
									
                  
                </ul>

				<ul class="list-unstyled" data-link="sub-report">
                    <li>
                        <a href="doc-summary-report.php">
                            <span class="d-inline-block">Document Summary Report</span>
                        </a>
                    </li>
					<li>
                        <a href="doc-list-report.php">
                            <span class="d-inline-block">Document Detail Report</span>
                        </a>
                    </li>
					
				</ul>
				
				<ul class="list-unstyled" data-link="sub-log">
                    <li>
                        <a href="log-activity.php">
                            <span class="d-inline-block">Activity Log</span>
                        </a>
                    </li>
					<li>
                        <a href="log-authen.php">
                            <span class="d-inline-block">Authentication Log</span>
                        </a>
                    </li>
					<li>
                        <a href="log-preriod.php">
                            <span class="d-inline-block">No Log on Preriod Report</span>
                        </a>
                    </li>
				</ul>

                
            </div>
        </div>
    </div>